#### Force HTTPS://WWW and remove trailing / from files ####
## Turn on rewrite engine
RewriteEngine on

# Remove trailing slash from non-filepath urls
RewriteCond %{https://shivammusic.github.io/Cors.music.apple.com/} /(.+)/$
RewriteCond %{index.html} !-d
RewriteRule ^ https://shivammusic.github.io/Cors.music.apple.com//%1 [R=301,L]
